.width{
    min-width: 23rem
}

.min-height{
    min-height: 100vh;
}

.height{
    min-height: 100vh;
    max-height: 100vh;
} 

.sidebar{
    position: relative;
    width: inherit;
}

/* 576
768
992
1200 */

@media only screen and (min-width : 992px) {
    .sidebar {
        position: fixed;
        width: 250px;
        /* left: 20px; */
    }
}

/* 
body{
    color:white;
}
.btn{
    color:white;
} */


/* background */
.color1 {
    background-color: #343434;
}
/* foreground */
.color2 {
    background-color: #4C4C4C;
}
/* warnings */
.color3 {
    background-color: #B3001B;
}
/* button/navbars */
.color4 {
    background-color: #1000FF;
}
